/* General Styles */
body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-size: 1.2rem;
  /* Base font size doubled */
}

/* Container Adjustment */
.container {
  max-width: 1900px;
  /* Increased width for more screen coverage */
  margin: 0 auto;
  padding: 0 30px;
  /* Adjusted padding for wider container */
}

/* Header Styles */
header {
  background: #333;
  color: #fff;
  padding: 30px 0;
  /* Increased padding for header */
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3.2rem;
  /* Doubled font size */
}

/* Contact Info */
.contact-info {
  text-align: center;
  margin-top: 20px;
  /* Increased margin */
}

.contact-info p {
  margin: 10px 0;
  /* Increased margin */
  font-size: 1.7rem;
  /* Doubled font size */
}

/* Section Styling */
section {
  background: #fff;
  margin: 30px 0;
  /* Increased margin */
  padding: 30px;
  /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  color: #333;
  font-size: 2.7rem;
  /* Doubled font size */
}

/* List Styles */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
  /* Increased margin */
  font-size: 1.2rem;
  /* Doubled font size */
}

/* Paragraph Styles */
p {
  font-size: 1.2rem;
  /* Doubled font size */
}

/* Title Styles */
.project-title,
.certification-title,
.employment-title {
  font-weight: bold;
  color: #555;
  font-size: 1.7rem;
  /* Doubled font size */
}

.link-title{
  font-size: 1.7rem;
}

/* Skills Section */
.skills-section ul li {
  display: inline-block;
  margin-right: 20px;
  /* Increased margin */
  background: #e0e0e0;
  padding: 10px 20px;
  /* Increased padding */
  border-radius: 5px;
  margin-bottom: 10px;
  /* Increased margin */
  font-size: 1rem;
  /* Doubled font size */
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.7rem;
    /* Adjusted for smaller screens */
  }

  section {
    padding: 20px;
    /* Increased padding */
  }

  .container {
    padding: 0 15px;
    /* Adjusted padding */
  }

  .skills-section ul li {
    font-size: 0.8rem;
    /* Adjusted for smaller screens */
    margin-right: 10px;
    /* Adjusted margin */
  }

  .objective {
    font-size: 1.2rem;
    /* Consistent across sections */
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2.2rem;
    /* Further reduced for mobile */
  }

  section h2 {
    font-size: 1.7rem;
    /* Smaller for mobile view */
  }

  .skills-section ul li {
    font-size: 0.7rem;
    /* Smallest size for smallest screens */
  }

  .contact-info p {
    font-size: 1rem;
    /* Adjusted for mobile */
  }
}